<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
    body {
        background-color: #121212;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        margin: 20px;
    }

    h1 {
        color: #61dafb;
    }

    h2 {
    color: #61dafb;
    margin-top: 20px; /* Adjusted margin */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #333;
        padding: 10px;
        text-align: center; /* Center-align text in each column */
    }

    th {
        background-color: #333;
        color: #ffffff;
    }

    a {
        color: #61dafb;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    select {
        margin-top: 20px;
        padding: 10px;
        font-size: 16px;
    }
    </style>
</head>
<body>
    <h2>Earnings Straddle Simulation Results</h2>

    <a href="index.html" style="position: absolute; top: 20px; right: 20px; color: #61dafb; text-decoration: none;">
        <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Create A New Report</button>
    </form>
    </a>
<!-- Dropdown menu for selecting companies -->
<select id="companySelector" onchange="loadCompanyData()">
    {% for company in data %}
        <option value="{{ loop.index0 }}">{{ company['ticker'] }}</option>
    {% endfor %}
</select>

<div id="failedAttemptsContainer" style="position: absolute; top: 40px; right: 20px; width: 45%;">
    <h2 style="margin-bottom: 10px;">Failed Simulation Attempts</h2>
    <table id="failedAttemptsTable" style="float: right; margin-top: 0;">
        <!-- Headers -->
        <tr>
            <th>Ticker</th>
            <th>Reason for Failure</th>
        </tr>
        <!-- Data for failed attempts will be loaded dynamically using JavaScript -->
    </table>
</div>

<script>
    // Check if the table has data
    if (/* condition to check if the table has data */) {
        document.getElementById("failedAttemptsContainer").style.display = "block";
    } else {
        document.getElementById("failedAttemptsContainer").style.display = "none";
    }
</script>

<!-- Content for displaying selected company data -->
<div id="companyDataContainer">
    <h1 id="companyTitle"></h1>

    <table>
        <!-- Headers -->
        <tr>
            <th>Earnings Report Date</th>
            <th>Trade Date</th>
            <th>Option Strike Price</th>
            <th>Option Expiration Date</th>
            <th>Revenue Estimated</th>
            <th>Revenue Actual</th>
        </tr>
        <!-- Data for the selected company -->
        <tr id="companyData">
            <!-- Data will be loaded dynamically using JavaScript -->
        </tr>
    </table>

        <table>
        <!-- Headers -->
        <tr>
            <th>Average Return Percent</th>
            <th>Trades Simulated</th>
            <th>Return Variance</th>
            <th>Return Standard Deviation</th
        </tr>
        <!-- Data for the selected company -->
        <tr id="companyMetaData">
            <!-- Data will be loaded dynamically using JavaScript -->
        </tr>
    </table>

    <h2>Simulation Data</h2>

    <table id="simulationTable">
        <!-- Headers -->
        <tr>
            <th>Entry Time</th>
            <th>Exit Time</th>
            <th>Entry Strategy Value</th>
            <th>Entry Trading Volume</th>
            <th>Exit Strategy Value</th>
            <th>Exit Trading Volume</th>
            <th>Profit/Loss Dollars</th>
            <th>Profit/Loss Percent</th>
        </tr>
        <!-- Data for the selected company's simulation -->
        <!-- Data will be loaded dynamically using JavaScript -->
    </table>
</div>

<script>
    // Function for date conversion
    function convertToAMPM(timeString) {
    // Create a new Date object with the given time string
    const time = new Date("2000-01-01T" + timeString);

    // Format the time as AM/PM
    const formattedTime = time.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });

    return formattedTime;
}
    // JavaScript function to load data for the selected company

    function loadCompanyData() {
        var companySelector = document.getElementById("companySelector");
        var selectedCompanyIndex = companySelector.value;

        // Get data for the selected company
        var selectedCompany = {{ data|tojson|safe }}[selectedCompanyIndex];

        // Update the title
        document.getElementById("companyTitle").innerHTML = selectedCompany['ticker'] + " - Trade Simulation Execution Summary";

        // Update the general data
        var companyData = document.getElementById("companyData");
        companyData.innerHTML = "<td>" + selectedCompany['earnings_report_date'] + "</td>" +
                                "<td>" + selectedCompany['trade_date'] + "</td>" +
                                "<td>$" + parseFloat(selectedCompany['option_strike_price']).toFixed(2) + "</td>" +
                                "<td>" + selectedCompany['option_expiration_date'] + "</td>" +
                                "<td>$" + parseFloat(selectedCompany['revenue_estimated']).toLocaleString() + "</td>" +
                                "<td>$" + parseFloat(selectedCompany['revenue_actual']).toLocaleString() + "</td>";



        // Update the metadata
        updateMetaData(selectedCompany);

        // Update the simulation data using jQuery
        var simulationTable = $("#simulationTable");
        simulationTable.empty(); // Clear existing data

        // Add table headers
        simulationTable.append("<tr><th>Entry Time</th><th>Exit Time</th><th>Entry Strategy Value</th>" +
                                "<th>Entry Trading Volume</th><th>Exit Strategy Value</th>" +
                                "<th>Exit Trading Volume</th><th>Profit/Loss Dollars</th>" +
                                "<th>Profit/Loss Percent</th></tr>");

        // Loop through simulation data for the selected company and append rows
        for (var i = 0; i < selectedCompany['simulation']['raw_simulation_data'].length; i++) {
            var trade = selectedCompany['simulation']['raw_simulation_data'][i];

            // Append a new row to the table using jQuery
            simulationTable.append("<tr><td>" + convertToAMPM(trade['entry_time'].substr(-8)) + "</td>" +
                                    "<td>" + convertToAMPM(trade['exit_time'].substr(-8)) + "</td>" +
                                    "<td>$" + trade['entry_strategy_value'] + "</td>" +
                                    "<td>" + trade['entry_trading_volume'] + "</td>" +
                                    "<td>$" + trade['exit_strategy_value'] + "</td>" +
                                    "<td>" + trade['exit_trading_volume'] + "</td>" +
                                    "<td style='color: " + (trade['profit_loss_dollars'] < 0 ? 'red' : (trade['profit_loss_dollars'] > 0 ? 'green' : 'white')) + "'>" +
                                    (trade['profit_loss_dollars'] < 0 ? "-$" : "$") + Math.abs(trade['profit_loss_dollars']).toFixed(2) + "</td>" +
                                    "<td style='color: " + (trade['profit_loss_percent'] < 0 ? 'red' : (trade['profit_loss_percent'] > 0 ? 'green' : 'white')) + "'>" +
                                    (trade['profit_loss_percent'] * 100).toFixed(2) + "%</td></tr>");
        }
    }

    // Function to update the metadata for the selected company
    function updateMetaData(selectedCompany) {
        var metaDataContainer = document.getElementById("companyMetaData");
        metaDataContainer.innerHTML = "<td style='color: " + (selectedCompany['simulation']['average_return_percent'] < 0 ? 'red' : (selectedCompany['simulation']['average_return_percent'] > 0 ? 'green' : 'white')) + "'>" +
                                        (selectedCompany['simulation']['average_return_percent'] * 100).toFixed(2) + "%</td></tr>" +
                                      "<td>" + selectedCompany['simulation']['trades_simulated'] + "</td>" +
                                      "<td>" + selectedCompany['simulation']['return_variance'] + "</td>" +
                                      "<td>" + (selectedCompany['simulation']['return_standard_deviation'] * 100).toFixed(2) + "%</td>";

    }

    // Function to update the entire form based on the selected company
    function updateForm() {
        // Call the function to load company data
        loadCompanyData();
    }

    // Update failed attempts table
    function updateFailedAttempts(failedAttempts) {
        var failedAttemptsTable = document.getElementById("failedAttemptsTable");
        failedAttemptsTable.innerHTML = ""; // Clear existing data

        // Add table headers
        failedAttemptsTable.innerHTML += "<tr><th>Ticker</th><th>Reason for Failure</th></tr>";

        // Loop through failed attempts and append rows
        for (var i = 0; i < failedAttempts.length; i++) {
            var ticker = failedAttempts[i][0];
            var reason = failedAttempts[i][1];

            // Append a new row to the table
            failedAttemptsTable.innerHTML += "<tr><td>" + ticker + "</td><td>" + reason + "</td></tr>";
        }
    }

    // Call the function to update failed attempts table
    updateFailedAttempts({{ failed_attempts | tojson | safe }});


    // Initial load when the page loads
    updateForm();
</script>


</body>
</html>
